*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Gotham Rounded', sans-serif;
    font-weight: normal;
  }
  
  body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00C6FF, #0072FF); /* Enhance the gradient */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7); /* Background for the grid */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  }
  
  .calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease, transform 0.2s ease;
  }
  
  .calculator-grid > button:hover {
    background-color: #ffffff;
    transform: scale(1.05); /* Button hover animation */
  }
  
  .calculator-grid > button:active {
    transform: scale(0.98); /* Button click animation */
  }
  
  .span-two {
    grid-column: span 2;
  }
  
  .output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 10px;
    color: #00FFAA; /* Lighter color for better readability */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  .output .previous-operand {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.25rem;
  }
  
  .output .current-operand {
    color: #FFFFFF;
    font-size: 2.5rem;
  }
  